export ES_URL=http://localhost:9200
export ES_USERNAME=elastic
export ES_APIKEY=PUT_THE_KEY_HERE

export CRAWL_INDEX=MY_INDEX
export SEARCH_INDEX=MY_INDEX_WITH_EMBEDDINGS
export MAX_WORDS_PER_PASSAGE=150
export SEARCH_K=3
export SEARCH_NUM_CANDIDATES=100

export EMBEDDING_ENDPOINT=http://localhost:12434/engines/v1/embeddings
export EMBEDDING_MODEL=hf.co/jinaai/jina-embeddings-v5-text-nano-retrieval-gguf:Q4_K_M

export OLLAMA_URL=http://localhost:11434
export OLLAMA_GENERATING_MODEL=deepseek-r1:14b